<div class="viewVacancy">
  <div class="container">
    <form [formGroup]="myForm">
      <table class="tableViewVacancyTop align-middle" align="center">

        <tr>
          <!--          <td><label>{{'vacancyNumber' | translate}}</label>-->
          <!--            <input type="number" class="form-control" formControlName="vacancyNumber">-->

          <!--          <label>{{'ownedBy' | translate}}</label>-->
          <!--          <input type="text" class="form-control" formControlName="ownedBy"></td>-->

          <td><label>{{'status' | translate}}</label> <select class="form-control" formControlName="status">
            <option value="open">Open</option>
            <option value="close">Close</option>
            <option value="suspended">Suspended</option>
          </select>

            <label>{{'position' | translate}}</label>
            <input type="text" class="form-control" formControlName="position"></td>

          <td><label>{{'dateClose' | translate}}</label>
            <input type="date" class="form-control" formControlName="dateClose">

            <label>{{'typeOfStaff' | translate}}</label> <select class="form-control" formControlName="typeOfStaff">
              <option value="partTime">Part time</option>
              <option value="fullTime">Full Time</option>
              <option value="partTime">Freelance</option>
              <option value="partTime">Intership</option>
            </select></td>
        </tr>
      </table>
    </form>
    <div class="btnAll">
      <button class="btnSearch" (click)="onsubmit1()"><i class="fa fa-search"></i> {{'btnSearch' | translate}}</button>
      <button routerLink="/hr/create-vacancy" class="btnCreateVacancy"><i
        class="fa fa-plus"></i> {{'btnCreateVacancy' | translate}}</button>
      <button class="btnExport">{{'btnExport' | translate}}</button>
    </div>
  </div>
  <div class="viewVacancyBot">
    <table class="table table-striped container1">
      <tr>
        <th>{{'idVacancy' | translate}}</th>
        <th>{{'position' | translate}}</th>
        <th>{{'department' | translate}}</th>
        <!--        <th>{{'requirement' | translate}}</th>-->
        <!--        <th>{{'description' | translate}}</th>-->
        <th>{{'typeOfStaff' | translate}}</th>
        <th>{{'ownedBy' | translate}}</th>
        <th>{{'numberOpening' | translate}}</th>
        <th>{{'vacancyNumber' | translate}}</th>
        <th>{{'dateCreated' | translate}}</th>
        <th>{{'dateClose' | translate}}</th>
        <th>{{'status' | translate}}</th>
        <th>{{'viewVacancy' | translate}}</th>

        <!--        <th>{{'offer' | translate}}</th>-->
        <!--        <th>{{'experience' | translate}}</th>-->
        <!--        <th>{{'language' | translate}}</th>-->
        <th></th>
      </tr>
      <ng-container *ngFor="let v of vacancys">
        <tr>
          <td routerLink="/view-vacancy/{{v.idVacancy}}">{{v.vacancyNumber}}</td>
          <td>{{v.position.positionName}}</td>
          <td>{{v.department.departmentName}}</td>
          <!--          <td>{{v.requirement}}</td>-->
          <!--          <td>{{v.description}}</td>-->
          <td>{{v.typeOfStaff}}</td>
          <td>{{v.ownedBy}}</td>
          <td>{{v.numberOpening}}</td>
          <td>{{v.vacancyNumber}}</td>
          <td>{{v.dateCreated}}</td>

          <td>{{v.dateClose}}</td>
          <td>{{v.state}}</td>
          <td routerLink="/view-vacancy/{{v.idVacancy}}/view-applicant">View Applicant</td>

          <!--          <td>{{v.experience}}</td>-->
          <!--          <td>{{v.language}}</td>-->
          <td>
            <!--            -->
            <button class="btn btn-info btn-sm"
                    onclick="document.getElementById(${v.idVacancy}).style.display='block'"
                    style="width:auto;"><i class="fa fa-edit small"></i></button>

            <div id="${v.idVacancy}" class="modal">

              <form [formGroup]="myForm" class="modal-content animate" action="/action_page.php">
                <div class="imgcontainer">
          <span onclick="document.getElementById(${v.idVacancy}).style.display='none'" class="close"
                title="Close Modal">&times;</span>
                </div>

                <div class="containerIS">

                  <label>{{'status' | translate}}</label>
                  <select class="form-control" formControlName="status" required>
                    <option value="open">Open</option>
                    <option value="close">Close</option>
                    <option value="suspended">Suspended</option>
                  </select>

                  <label>{{'position' | translate}}</label>
                  <input type="text" class="form-control" formControlName="position" required>

                  <!--                  <label>{{'experience' | translate}}</label>-->
                  <!--                  <input class="form-control" type="number" placeholder="Enter name experience"-->
                  <!--                         formControlName="experience">-->

                  <label>{{'numberOpening' | translate}}</label>
                  <input class="form-control" type="number" placeholder="Enter number opening"
                         formControlName="numberOpening" required>

                  <label>{{'department' | translate}}</label>
                  <input type="text" class="form-control" formControlName="position" required>

                  <label>{{'dateClose' | translate}}</label>
                  <input type="date" id="dateGetsClosed" name="dateGetsClosed" class="form-control">

                  <!--                  <label>{{'gender' | translate}}</label> <br>-->
                  <!--                  <select class="form-control" formControlName="gender">-->
                  <!--                    <option>Male</option>-->
                  <!--                    <option>Female</option>-->
                  <!--                    <option>All</option>-->
                  <!--                  </select>-->

                  <label>{{'typeOfStaff' | translate}}</label>
                  <select class="form-control" formControlName="typeOfStaff" required>
                    <option value="partTime">Part time</option>
                    <option value="fullTime">Full Time</option>
                    <option value="partTime">Freelance</option>
                    <option value="partTime">Intership</option>
                  </select>

                  <!--                  <label>{{'offer' | translate}}</label>-->
                  <!--                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"-->
                  <!--                            formControlName="offer" required></textarea>-->

                  <label>{{'description' | translate}}</label>
                  <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"
                            formControlName="description" required></textarea>


                  <button class="btnSave" (click)="onsubmit()"><i class="fa fa-search"></i> {{'Save' | translate}}
                  </button>

                </div>


              </form>
            </div>

            <script>
              // Get the modal
              var modal = document.getElementById('id01');

              // When the user clicks anywhere outside of the modal, close it
              window.onclick = function (event) {
                if (event.target == modal) {
                  modal.style.display = "none";
                }
              }
            </script>
            <!--            -->
            <button class="btn btn-danger btn-sm"><i class="fa fa-close small"></i></button>
          </td>

        </tr>

      </ng-container>

    </table>
  </div>
  <div class="phan-trang">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">&raquo;</a>
  </div>

</div>
