.carrer{
  margin: 30px;
  //search
  .search{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    h3{
      margin-left: 10px;
      margin-bottom: 5px;
      color: #503030;
    }
  }
  .tableSearch {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 16px;
    border: 0px solid black;
    border-collapse: collapse;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date],[type=time], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .btnSearch {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  .btnSearch:hover {
    background-color: #45a049;
  }


  //
  .job{
    border-bottom: 1px solid #cccccc;
    h4{
      text-decoration: none;
    }
    .title{
      color: blue;
    }
    .des{
      margin-left: 10px;
      i{
        margin-right: 5px;
      }
    }
  }
}
