.navbar {
  overflow: hidden;
  background-color: #6D6363;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
//HR
.dropdownHR {
  float: left;
  overflow: hidden;
}

.dropdownHR .dropbtnHR {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdownHR:hover .dropbtnHR {
  background-color: #cccaca;
}

.dropdownHR-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownHR-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownHR-content a:hover {
  background-color: #ddd;
}

.dropdownHR:hover .dropdownHR-content {
  display: block;
}
//Interview
.dropdownInterviewer {
  float: left;
  overflow: hidden;
}

.dropdownInterviewer .dropbtnInterviewer {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdownInterviewer-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownInterviewer-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownInterviewer-content a:hover {
  background-color: #ddd;
}

.dropdownInterviewer:hover .dropdownInterviewer-content {
  display: block;
}
.navbar a:hover, .dropdownInterviewer:hover .dropbtnInterviewer {
  background-color: #cccaca;
}
//System
.dropdownSystem {
  float: left;
  overflow: hidden;
}

.dropdownSystem .dropbtnSystem {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdownSystem:hover .dropbtnSystem {
  background-color: #cccaca;
}

.dropdownSystem-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownSystem-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownSystem-content a:hover {
  background-color: #ddd;
}

.dropdownSystem:hover .dropdownSystem-content {
  display: block;
}
//Recruitment
.dropdownRecruitment {
  float: left;
  overflow: hidden;
}

.dropdownRecruitment .dropbtnRecruitment {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdownRecruitment:hover .dropbtnRecruitment {
  background-color: #cccaca;
}

.dropdownRecruitment-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownRecruitment-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownRecruitment-content a:hover {
  background-color: #ddd;
}

.dropdownRecruitment:hover .dropdownRecruitment-content {
  display: block;
}
