<div class="applicantApproval">

  <div class="applicantApprovalTop">
    <h2>Applicant approval</h2>
    <table class="tableApplicantApprovalTop">
      <tr>
        <td><label for="id_request">ID requiet</label>
          <input type="text" id="id_request" name="id_request">
          <br>
          <label for="vacancyName">Vacancy name</label>
          <input type="text" id="vacancyName" name="vacancyName">
          <br>

          <label for="requester">Requester</label>
          <input type="text" id="requester" name="requester">
        </td>

        <td>
          <label for="quatity">Quatity</label>
          <input type="text" id="quatity" name="quatity">
          <br>
          <label >Experience:</label> <select id="experience:" name="experience:">
            <option value="fresher">Fresher</option>
            <option value="internship">Internship</option>
            <option value="senior">Senior</option>
          </select>
        </td>
        <td>
          <label for="fromDate">From date</label>
          <input type="date" id="fromDate" name="fromDate">
          <br>
          <label for="toDate">To date</label>
          <input type="date" id="toDate" name="toDate">
          <br>
          <label >Status</label>
          <br>
          <label class="containerRadioButton">Approve
            <input type="radio" checked="checked" name="radio" value="Open">
            <span class="checkmark"></span>
          </label>
          <label class="containerRadioButton">Reject
            <input type="radio" name="radio" value="Close">
            <span class="checkmark"></span>
          </label>
        </td>

      </tr>
    </table>
    <div class="btnAll">
      <button class="btnSearch"><i class="fa fa-search"></i> Search</button>
      <button class="btnApprove">Approve</button>
      <button class="btnReject">Reject</button>
      <button class="btnExport">Date export</button>
    </div>

  </div>


  <div class="applicantApprovalBot">
    <table class="tableApplicantApprovalBot">
      <tr>
        <th>ID Requiet</th>
        <th>Position</th>
        <th>Requieter</th>
        <th>Quatity</th>
        <th>Experince</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Status</th>
      </tr>

      <ng-container *ngFor="let v of viewApplicantApprovals">
        <tr>
          <td>{{v.idRequiet}}</td>
          <td>{{v.position}}</td>
          <td>{{v.requieter}}</td>
          <td>{{v.quatity}}</td>
          <td>{{v.experince}}</td>
          <td>{{v.fromDate}}</td>
          <td>{{v.toDate}}</td>
          <td>{{v.status}}</td>
        </tr>
      </ng-container>
    </table>


  </div>


</div>
