<div class="applicantApproval">

  <div class="container">
    <h2>{{'applicantApproval' | translate}}</h2>
    <form [formGroup]="myForm">
      <table class="tableApplicantApprovalTop">
        <tr>
          <td>
            <label>{{'idRequiet' | translate}}</label>
            <input type="number" class="form-control" formControlName="idRequiet">
            <br>
            <label>{{'position' | translate}}</label>
            <input type="text" class="form-control" formControlName="position">
            <br>

            <label>{{'requester' | translate}}</label>
            <input type="text" class="form-control" formControlName="requieter">
          </td>

          <td>
            <label>{{'numberOpening' | translate}}</label>
            <input type="number" class="form-control" formControlName="quatity">
            <br>
            <label>{{'experience' | translate}}</label>
            <input type="number" class="form-control" formControlName="experince">
          </td>
          <td>
            <label>{{'fromDate' | translate}}</label>
            <input type="date" class="form-control" formControlName="fromDate">
            <br>
            <label>{{'toDate' | translate}}</label>
            <input type="date" class="form-control" formControlName="toDate">
            <br>
            <label>{{'status' | translate}}</label> <select class="form-control" formControlName="status">
            <option value="approve">Approve</option>
            <option value="reject">Reject</option>
          </select>
          </td>

        </tr>
      </table>
    </form>
    <div class="btnAll">
      <button class="btnSearch" (click)="onsubmit()"><i class="fa fa-search"></i> {{'btnSearch' | translate}}</button>
      <button class="btnApprove">{{'btnApprove' | translate}}</button>
      <button class="btnReject">{{'btnReject' | translate}}</button>
      <button class="btnExport">{{'btnExport' | translate}}</button>
    </div>

  </div>


  <div class="applicantApprovalBot">
    <table class="tableApplicantApprovalBot">
      <tr>
        <th>{{'idRequiet' | translate}}</th>
        <th>{{'position' | translate}}</th>
        <th>{{'requester' | translate}}</th>
        <th>{{'numberOpening' | translate}}</th>
        <th>{{'experience' | translate}}</th>
        <th>{{'fromDate' | translate}}</th>
        <th>{{'toDate' | translate}}</th>
        <th>{{'status' | translate}}</th>
      </tr>

      <ng-container *ngFor="let v of viewApplicantApprovals">
        <tr>
          <td>{{v.idRequiet}}</td>
          <td>{{v.position}}</td>
          <td>{{v.requieter}}</td>
          <td>{{v.quatity}}</td>
          <td>{{v.experince}}</td>
          <td>{{v.fromDate}}</td>
          <td>{{v.toDate}}</td>
          <td>{{v.status}}</td>
        </tr>
      </ng-container>
    </table>


  </div>


</div>
