<div class="applicantApproval">

  <div class="container">
    <h2>Applicant approval</h2>
    <form [formGroup]="myForm">
      <table class="tableApplicantApprovalTop">
        <tr>
          <td>
            <label>ID requiet</label>
            <input type="number" class="form-control" formControlName="idRequiet">
            <br>
            <label>Position</label>
            <input type="text" class="form-control" formControlName="position">
            <br>

            <label>Requester</label>
            <input type="text" class="form-control" formControlName="requieter">
          </td>

          <td>
            <label>Quatity</label>
            <input type="number" class="form-control" formControlName="quatity">
            <br>
            <label>Experince</label>
            <input type="number" class="form-control" formControlName="experince">
          </td>
          <td>
            <label>From date</label>
            <input type="date" class="form-control" formControlName="fromDate">
            <br>
            <label>To date</label>
            <input type="date" class="form-control" formControlName="toDate">
            <br>
            <label>Status</label> <select class="form-control" formControlName="status">
            <option value="approve">Approve</option>
            <option value="reject">Reject</option>
          </select>
          </td>

        </tr>
      </table>
    </form>
    <div class="btnAll">
      <button class="btnSearch" (click)="onsubmit()"><i class="fa fa-search"></i> Search</button>
      <button class="btnApprove">Approve</button>
      <button class="btnReject">Reject</button>
      <button class="btnExport">Date export</button>
    </div>

  </div>


  <div class="applicantApprovalBot">
    <table class="tableApplicantApprovalBot">
      <tr>
        <th>ID Requiet</th>
        <th>Position</th>
        <th>Requieter</th>
        <th>Quatity</th>
        <th>Experince</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Status</th>
      </tr>

      <ng-container *ngFor="let v of viewApplicantApprovals">
        <tr>
          <td>{{v.idRequiet}}</td>
          <td>{{v.position}}</td>
          <td>{{v.requieter}}</td>
          <td>{{v.quatity}}</td>
          <td>{{v.experince}}</td>
          <td>{{v.fromDate}}</td>
          <td>{{v.toDate}}</td>
          <td>{{v.status}}</td>
        </tr>
      </ng-container>
    </table>


  </div>


</div>
