<div class="container">
  <form [formGroup]="myForm">
    <h2>{{'personalInformation' | translate}}</h2>
    <table class="tableProfile">
      <tr>
        <td>

          <label>{{'userNumber' | translate}}</label>
          <input type="number" class="form-control" formControlName="userNumber">

          <label>{{'fullName' | translate}}</label>
          <input type="text" class="form-control" formControlName="fullName">

          <label>{{'userName' | translate}}</label>
          <input type="text" class="form-control" formControlName="userName">

        </td>
        <td>

          <label>{{'birthday' | translate}}</label>
          <input type="date" class="form-control" formControlName="birthday">

          <label>{{'gender' | translate}}</label> <select class="form-control" formControlName="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>

          <label>{{'address' | translate}}</label>
          <input type="text" class="form-control" formControlName="address">

        </td>
      </tr>
      <!--   -->
      <tr>
        <td>
          <label>{{'email' | translate}}</label>
          <input type="text" class="form-control" formControlName="email">
        </td>
        <td>
          <label>{{'phone' | translate}}</label>
          <input type="number" class="form-control" formControlName="phone">
        </td>
      </tr>
      <!--  -->
      <tr>
        <td>
          <label>{{'position' | translate}}</label>
          <input type="text" class="form-control" formControlName="namePosition">
        </td>
        <td>
          <label>{{'department' | translate}}</label>
          <input type="text" class="form-control" formControlName="nameDepartment">
        </td>
      </tr>

    </table>
  </form>
  <button class="btnCancel"><i class="fa fa-cancel"></i> {{'cancel' | translate}}</button>
  <button class="btnSave" (click)="onsubmit()"><i class="fa fa-save"></i> {{'save' | translate}}</button>
</div>
