<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<div class="header"><app-header></app-header></div>-->
<!--<div class="menu"><app-menu></app-menu></div>-->
<!--<div class="router"><router-outlet></router-outlet></div>-->
<!--<div class="footer"><app-footer></app-footer></div>-->

<app-header></app-header>
<app-menu></app-menu>
<button class="btn" (click)="setLang('vi')">VN</button>
<button class="btn disabled" (click)="setLang('en')">EN</button>
<router-outlet></router-outlet>
<app-footer></app-footer>
