
.container {

  .tableCreateApplicant {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    th, td {
      text-align: left;
      padding: 16px;
      border: 0px solid black;
      border-collapse: collapse;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }
  }

  .btnSave {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 10px 10px 10px 10px;
  }

  .btnSave:hover {
    background-color: #45a049;
  }


}
