<div class="container">
  <form [formGroup]="myForm">
    <table class="tableCreateApplicant">
      <tr>
        <td>

          <label>{{'name' | translate}}</label>
          <input type="text" class="form-control" formControlName="applicantVacancyName" placeholder="Enter name applicant">

          <label>{{'emailApplicant' | translate}}</label>
          <input type="text" class="form-control" formControlName="emailApplicant" placeholder="Enter email for you">

          <label>{{'phone' | translate}}</label>
          <input type="number" class="form-control" formControlName="phone" placeholder="Enter phone for you">

        </td>
        <td>
          <label>{{'dateOnApplicantVacancy' | translate}}</label>
          <input type="date" class="form-control" formControlName="dateOnApplicantVacancy"
                 placeholder="Enter date of applicant">


          <label>{{'status' | translate}}</label> <select class="form-control" formControlName="state">
          <option value="notinProcess">Notin process</option>
          <option value="inprocess">Inprocess</option>
          <option value="hired">Hired</option>
          <option value="banned">Banned</option>
        </select>

          <label>{{'experience' | translate}}</label>
          <input type="number" class="form-control" formControlName="experience"
                 placeholder="Enter experience">

          <label>{{'listIdUser' | translate}} </label>
          <select  class="form-control" formControlName="listIdUser">
            <option   *ngFor="let interviewer of interviewerList" value="{{interviewer.idUser}}"> {{interviewer.fullName}}</option>
          </select>

          <label>{{'dateOfTheScheduleInterview' | translate}}</label>
          <input type="date" class="form-control" formControlName="dateOfTheScheduleInterview" placeholder="Enter date scheduled">

          <label>{{'start' | translate}}</label>
          <input type="time" class="form-control" formControlName="startTime" placeholder="Enter time start">

          <label>{{'end' | translate}}</label>
          <input type="time" class="form-control" formControlName="endTime" placeholder="Enter time end">

        </td>
      </tr>
    </table>
    <button class="btnSave" (click)="onsubmit()"><i class="fa fa-save"></i> {{'save' | translate}}</button>
  </form>
</div>

