<div class="viewReviewApplicant">
  <div class="container">
    <form [formGroup]="myForm">
      <table class="tableViewReviewApplicantTop align-middle" align="center">
        <tr>
          <td>
            <label>Applicant number</label>
            <input type="text" class="form-control" formControlName="applicantNumber">
          </td>
          <td>
            <label>Title Vacancy</label>
            <input type="text" class="form-control" formControlName="titleVacancy">
          </td>
          <td>
            <label>Result</label> <select class="form-control" formControlName="result">
            <option *ngFor="let result of results" [value]="result">{{result}}</option>
          </select>
          </td>
        </tr>

      </table>
    </form>
    <div class="btnAll">
      <button class="btnSearch" (click)="onsubmit()"><i class="fa fa-search"></i> Search</button>
      <button class="btnAdd" routerLink="/interviewer/review-applicant" routerLinkActive="active"><i class="fa fa-plus"></i> Add new </button>
      <button class="btnExport">Date export</button>
    </div>

  </div>
  <div class="viewReviewApplicantBot">
    <table class="table table-striped">
      <tr>
        <th>Applicant Number</th>
        <th>Title Vacancy</th>
        <th>Position Recommend</th>
        <th>Technical Review</th>
        <th>Behavior Review</th>
        <th>Experience</th>
        <th>Language Review</th>
        <th>Result</th>
        <th>Note</th>
        <th></th>
      </tr>

      <ng-container *ngFor="let r of viewReviewApplicant">
        <tr>
          <td>{{r.applicantNumber}}</td>
          <td>{{r.titleVacancy}}</td>
          <td>{{r.positionRecommend}}</td>
          <td>{{r.technicalReview}}</td>
          <td>{{r.behaviorReview}}</td>
          <td>{{r.experience}}</td>
          <td>{{r.languageReview}}</td>
          <td>{{r.result}}</td>
          <td>{{r.note}}</td>
          <td>
            <button class="btn btn-info btn-sm"><i class="fa fa-edit small"></i></button>
            <button class="btn btn-danger btn-sm"><i class="fa fa-close small"></i></button>
          </td>
        </tr>
      </ng-container>

    </table>

  </div>


</div>
