<div class="detail-carrer">
  <ng-container *ngIf="vacancy">
    <h2>{{vacancy.position}}</h2>
    <div class="important">
      <label><i class="fa fa-user"></i> Number Opening: {{vacancy.numberOpening}} persons</label><br>
      <label><i class="fa fa-clock-o"></i>{{vacancy.dateClose}}</label>
    </div>
    <h3>REQUIREMENT: </h3>
    <p class="des">{{vacancy.requirement}}</p>
    <h3>DESCRIPTION </h3>
    <p class="des">{{vacancy.description}}</p>
    <h3>What we offer</h3>
    <p class="des">{{vacancy.offer}}</p>

  </ng-container>
  <button (click)="goBack()" class="btnBack">Go back</button>

</div>
