<div class="viewApplicant">
  <div class="container">
    <form [formGroup]="myForm">
      <table class="tableViewApplicantTop align-middle" align="center">
        <tr>
          <td><label>{{'id' | translate}}</label>
            <input type="text" class="form-control" formControlName="id" placeholder="Enter id applicant">

            <label>{{'position' | translate}}</label>
            <input type="text" class="form-control" formControlName="position" placeholder="Enter position">
          </td>

          <td><label> {{'vacacyNumber' | translate}}</label>
            <input type="number" class="form-control" formControlName="vacacyNumber"
                   placeholder="Enter vancancy number">

            <label>{{'dateOfApplicant' | translate}}</label>
            <input type="date" class="form-control" formControlName="dateOfApplicant" placeholder="Enter date applicant">
          </td>

          <td><label> {{'nameOfTheInterviewer' | translate}}</label>
            <input type="text" class="form-control" formControlName="nameOfTheInterviewer"
                   placeholder="Enter name of the Interviewer ">

            <label>{{'dateScheduled' | translate}}</label>
            <input type="date" class="form-control" formControlName="dateScheduled"
                   placeholder="Enter name of the scheduled ">
          </td>
        </tr>

      </table>
    </form>


    <div class="btnAll">
      <button class="btnSearch" (click)="onsubmit()"><i class="fa fa-search"></i> {{'btnSearch' | translate}}</button>
      <button class="btnCreateApp" routerLink="/hr/create-applicant" routerLinkActive="active"><i class="fa fa-plus"></i> {{'btnCreateApp' | translate}}</button>
      <button class="btnReviewApplicant" routerLink="/interviewer/view-review-applicant" routerLinkActive="active"> {{'btnReviewApplicant' | translate}}</button>
      <button class="btnExport">{{'btnExport' | translate}}</button>

    </div>

  </div>

  <div class="viewApplicantBot">
    <table class="table table-striped">
      <tr>
        <th>{{'id' | translate}}</th>
        <th>{{'name' | translate}}</th>
        <th>{{'email' | translate}}</th>
        <th>{{'phone' | translate}}</th>
        <th>{{'vacacyNumber' | translate}}</th>
        <th>{{'position' | translate}}</th>
        <th>{{'dateOfApplicant' | translate}}</th>
        <th>{{'status' | translate}}</th>
        <th>{{'experience' | translate}}</th>
        <th>{{'nameOfTheInterviewer' | translate}}</th>
        <th>{{'dateScheduled' | translate}}</th>
        <th>{{'start' | translate}}</th>
        <th>{{'end' | translate}}</th>

        <th>

        </th>
      </tr>
      <ng-container *ngFor="let c of candicates">
        <tr>
          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td>{{c.phone}}</td>
          <td>{{c.vacacyNumber}}</td>
          <td>{{c.position}}</td>
          <td>{{c.dateOfApplicant}}</td>
          <td>{{c.status}}</td>
          <td>{{c.experience}}</td>
          <td>{{c.nameOfTheInterviewer}}</td>
          <td>{{c.dateScheduled}}</td>
          <td>{{c.start}}</td>
          <td>{{c.end}}</td>
          <td>
            <div class="">
              <button class="btn btn-info btn-sm"><i class="fa fa-edit small"></i></button>
              <button class="btn btn-danger btn-sm"><i class="fa fa-close small"></i></button>
            </div>
          </td>
        </tr>
      </ng-container>
    </table>
    <div class="phan-trang">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">&raquo;</a>
    </div>
  </div>
</div>
