.viewApplicant {
  //margin: 0 30px 0 30px;

  .container {
    border-collapse: collapse;
    border-spacing: 50px;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid gray;
    //margin-top: 10px;
    //margin-bottom: 15px;
    margin: 10px 150px 10px 150px;




    .tableViewApplicantTop {
      border-collapse: collapse;
      border-spacing: 0;
      //width: 50%;
      margin-top: 15px;

      .th, .td {
        text-align: left;
        padding: 16px;
        border: 0px solid black;
        border-collapse: collapse;
      }

      .tr:nth-child(even) {
        background-color: #f2f2f2
      }





    }

    .btnAll {
      text-align: center;

      .btnSearch, .btnCreateApp, .btnExport {
        border: none;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        background-color: #4CAF50;
        border-radius: 12px;
        margin: 10px 10px 10px 10px;
      }
      .btnSearch:hover, .btnCreateApp:hover, .btnExport:hover {
        background-color: #44a83a;
      }
    }
  }

  .tableViewApplicantBot {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;

    th, td {
      text-align: left;
      padding: 16px;
      border: 0px solid black;
      border-collapse: collapse;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }

  }

  .phan-trang {
    margin: 15px 0 10px 0;
    text-align: right;
  }

  .phan-trang a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }

  .phan-trang a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }


  .phan-trang a:hover:not(.active) {
    background-color: #ddd;
  }


  .btnEdit {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 8px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10%;

  }

  .btnEdit:hover {
    background-color: #0033FF;
  }

  .btnDelete {
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 8px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10%;
    margin: 1px 10px 1px;

  }

  .btnDelete:hover {
    background-color: #FF0033;
  }
}

