<h2>Create Vancancy</h2>

<div class="container">
  <form action="">
<input type="hidden"  name="id"/>

    <label for="ownedBy">Owned by</label>
    <input type="text"  id="ownedBy"   placeholder="Owned by">


    <label for="statusVacancy">Status of the Vacancy</label> <select  id="statusVacancy" >
    <option  value="open">Open</option>
    <option  value="close">Close</option>
    <option  value="suspended">Suspended</option></select>

    <label for="title">Title</label> <select  id="title" >
    <option  *ngFor="let position of positionList" [value]="position.positionName">{{position.positionName}}</option>
   </select>


    <label for="numberOpening">Number opening</label>

    <input type="text"  id="numberOpening" name="quatity" placeholder="Quatity">

    <label for="department">Department</label>
    <select  id="department" >
      <option  *ngFor="let department of departmentList" [value]="department.departmentName">{{department.departmentName}}</option>
    </select>


    <label for="dateGetsClosed">Date gets closed</label>
    <input type="date"  id="dateGetsClosed" name="dateGetsClosed">

    <label for="detailedDescription">Detailed description</label>
    <input type="text" id="detailedDescription" name="detailedDescription" placeholder="Detailed description">


    <input type="submit" value="Save">
  </form>
</div>
