<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="changedPassword">
  <table class="tableChangedPassword"></table>
  <div class="container">
    <h2>Password change</h2>
    <td>
      <tr><label class="username"> Username</label></tr>
      <br>

      <tr><label class="oldPassword">Old password</label>
        <input type= "text" class="oldPassword" placeholder="Enter old password"></tr>

      <tr><label class="newPassword">New password</label>
        <input type= "text" class="newPassword" placeholder="Enter new password"></tr>

      <tr><label class="confirmNewPassword">Confirm new password</label>
        <input type= "text" class="confirmNewPassword" placeholder="Enter confirm new password"></tr>



    </td>

  </div>
  <button class="btnCancel"><i class="fa fa-cancel"></i> Cancel</button>
  <button class="btnSave"><i class="fa fa-save"></i> Save</button>
</div>
