<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="changedPassword">
  <div class="container">
    <table>
    <td>
      <tr><label> Username</label></tr>
      <br>

      <tr><label>Old password</label>
        <input type="text" class="" placeholder="Enter old password"
               #oldPass="ngModel" required minlength="4"
               [(ngModel)]="changePass.oldPass">
      </tr>
      <tr>
        <div *ngIf="oldPass.invalid && (oldPass.dirty || oldPass.touched)" class="alert alert-danger">
          <div *ngIf="oldPass.errors.required"> Name is required.</div>
          <div *ngIf="oldPass.errors.minlength"> Name must be at least 4 characters long.</div>
        </div>
      </tr>

      <tr><label>New password</label>
        <input type="text"  class="" placeholder="Enter new password"
               ngModel required minlength="4" #newPass="ngModel"
               [(ngModel)]="changePass.newPass"></tr>
      <tr>
        <div *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)" class="alert alert-danger">
          <div *ngIf="newPass.errors.required"> Name is required.</div>
          <div *ngIf="newPass.errors.minlength"> Name must be at least 4 characters long.</div>
        </div>
      </tr>
      <tr><label class="">Confirm new password</label>
        <input type="text" class="" placeholder="Enter confirm new password"
               [(ngModel)]="changePass.confirmPass" #confirmPass="ngModel" required minlength="4"></tr>
      <tr >
        <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="alert alert-danger">
          <div *ngIf="confirmPass.errors.required"> Name is required.</div>
          <div *ngIf="confirmPass.errors.minlength"> Name must be at least 4 characters long.</div>
          <div *ngIf="changePass.confirmPass !== changePass.newPass">  Confirm pass and new pass is not the same</div>
        </div>
      </tr>
    </td>
    </table>
  </div>
</div>
<button class="btn btn-danger"><i class="fa fa-cancel"></i> Cancel</button>
<button class="btn btn-info"><i class="fa fa-save"></i> Save</button>
