<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="changedPassword">
  <div class="container">
    <table [formGroup]="changePassForm">
    <td>
      <tr><label> Username</label></tr>
      <br>

      <tr><label>Old password</label>
        <input type="text" class="" placeholder="Enter old password"
               formControlName="oldPass" required minlength="4">
      </tr>
      <tr>
        <div *ngIf="oldPass.invalid && (oldPass.dirty || oldPass.touched)" class="alert alert-danger">
          <div *ngIf="oldPass.errors.required"> Your old password is required.</div>
          <div *ngIf="oldPass.errors.minlength"> Your old password must be at least 4 characters long.</div>
        </div>
      </tr>

      <tr><label>New password</label>
        <input type="text"  class="" placeholder="Enter new password"
                required minlength="4"  formControlName="newPass">
      </tr>
      <tr>
        <div *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)" class="alert alert-danger">
          <div *ngIf="newPass.errors.required"> New password is required.</div>
          <div *ngIf="newPass.errors.minlength"> New password must be at least 4 characters long.</div>
        </div>
      </tr>
      <tr><label class="">Confirm new password</label>
        <input type="text" class="" placeholder="Enter confirm new password" formControlName="confirmPass"
                 required minlength="4"></tr>
      <tr >
        <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="alert alert-danger">
          <div *ngIf="confirmPass.errors.required"> Name is required.</div>
          <div *ngIf="confirmPass.errors.minlength"> Name must be at least 4 characters long.</div>
          <div *ngIf="changePass.confirmPass !== changePass.newPass">  Confirm pass and new pass is not the same</div>
        </div>
      </tr>
    </td>
    </table>
  </div>
</div>
<button class="btn btn-danger" (click)="oncancel()"><i class="fa fa-cancel"></i> Cancel</button>
<button class="btn btn-info" (click)="onSubmit()"><i class="fa fa-save"></i> Save</button>
