<div class="mrManager">

  <!--  <nav>-->
  <!--    <button routerLink="/recruitment/applicant-approval" routerLinkActive="active">View Vacancy</button>-->
  <!--  </nav>-->

  <div class="container">
    <h2>{{'manpowerRequestListByManager' | translate}}</h2>
    <form [formGroup]="myForm">
      <table class="tableMrManagerTop">
        <tr>
          <td>
            <label>{{'idRequiet' | translate}}</label>
            <input type="number" class="form-control" formControlName="idRequiet">
            <br>
            <label>{{'position' | translate}}</label>
            <input type="text" class="form-control" formControlName="position">

          </td>

          <td>
            <label>{{'numberOpening' | translate}}</label>
            <input type="number" class="form-control" formControlName="quatity">
            <br>
            <label>{{'experience' | translate}}</label>
            <input type="number" class="form-control" formControlName="experince">
            <br>
            <label>{{'requester' | translate}}</label>
            <input type="text" class="form-control" formControlName="requieter">
          </td>
          <td>
            <label>{{'fromDate' | translate}}</label>
            <input type="date" class="form-control" formControlName="fromDate">
            <br>
            <label>{{'toDate' | translate}}</label>
            <input type="date" class="form-control" formControlName="toDate">


          </td>

        </tr>
      </table>
    </form>
    <div class="btnAll">
      <button class="btnSearch" (click)="onsubmit()"><i class="fa fa-search"></i> {{'btnSearch' | translate}}</button>
      <button class="btnAdd"><i class="fa fa-plus"></i> {{'btnAdd' | translate}}</button>
      <button class="btnExport">{{'btnExport' | translate}}</button>
    </div>

    <!--    <input type="btnSearch" value="Search">-->
    <!--    <input type="btnAdd" value="Add new">-->
    <!--    <input type="btnSubmit" value="Submit">-->
    <!--    <input type="btnDelete" value="Delete">-->
    <!--    <input type="btnExport" value="Date export">-->
  </div>
  <div class="mrManagerBot">
    <table class="tableMrManagerBot">
      <tr>
        <th>{{'idRequiet' | translate}}</th>
        <th>{{'position' | translate}}</th>
        <th>{{'requester' | translate}}</th>
        <th>{{'numberOpening' | translate}}</th>
        <th>{{'experience' | translate}}</th>
        <th>{{'fromDate' | translate}}</th>
        <th>{{'toDate' | translate}}</th>
        <th></th>
      </tr>

      <ng-container *ngFor="let v of viewMRManages">
        <tr>
          <td>{{v.idRequiet}}</td>
          <td>{{v.position}}</td>
          <td>{{v.requieter}}</td>
          <td>{{v.quatity}}</td>
          <td>{{v.experince}}</td>
          <td>{{v.fromDate}}</td>
          <td>{{v.toDate}}</td>
          <td>
            <!--            -->
            <button class="btn btn-info btn-sm" onclick="document.getElementById('id01').style.display='block'"
                    style="width:auto;"><i class="fa fa-edit small"></i></button>

            <div id="id01" class="modal">

              <form [formGroup]="myForm" class="modal-content animate" action="/action_page.php">
                <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">&times;</span>
                </div>

                <div class="containerIS">
                  <label>{{'idRequiet' | translate}}</label>
                  <input type="number" class="form-control" formControlName="idRequiet">

                  <label>{{'position' | translate}}</label>
                  <input type="text" class="form-control" formControlName="position">

                  <label>{{'numberOpening' | translate}}</label>
                  <input type="number" class="form-control" formControlName="quatity">

                  <label>{{'experience' | translate}}</label>
                  <input type="number" class="form-control" formControlName="experince">

                  <label>{{'requester' | translate}}</label>
                  <input type="text" class="form-control" formControlName="requieter">

                  <label>{{'fromDate' | translate}}</label>
                  <input type="date" class="form-control" formControlName="fromDate">

                  <label>{{'toDate' | translate}}</label>
                  <input type="date" class="form-control" formControlName="toDate">


                  <button class="btnSave" (click)="onsubmit()"><i class="fa fa-search"></i> {{'Save' | translate}}
                  </button>

                </div>


              </form>
            </div>

            <script>
              // Get the modal
              var modal = document.getElementById('id01');

              // When the user clicks anywhere outside of the modal, close it
              window.onclick = function (event) {
                if (event.target == modal) {
                  modal.style.display = "none";
                }
              }
            </script>

            <!---->
            <!--            -->
            <button class="btn btn-danger btn-sm"><i class="fa fa-close"></i></button>
          </td>
        </tr>
      </ng-container>
    </table>


  </div>

</div>
