<div class="mrManager">

  <!--  <nav>-->
  <!--    <button routerLink="/recruitment/applicant-approval" routerLinkActive="active">View Vacancy</button>-->
  <!--  </nav>-->

  <div class="container">
    <h2>Manpower request list by manager</h2>
    <form [formGroup]="myForm">
      <table class="tableMrManagerTop">
        <tr>
          <td>
            <label>ID requiet</label>
            <input type="number" class="form-control" formControlName="idRequiet">
            <br>
            <label>Position</label>
            <input type="text" class="form-control" formControlName="position">

          </td>

          <td>
            <label>Quatity</label>
            <input type="number" class="form-control" formControlName="quatity">
            <br>
            <label>Experince</label>
            <input type="number" class="form-control" formControlName="experince">
            <br>
            <label>Requester</label>
            <input type="text" class="form-control" formControlName="requieter">
          </td>
          <td>
            <label>From date</label>
            <input type="date" class="form-control" formControlName="fromDate">
            <br>
            <label>To date</label>
            <input type="date" class="form-control" formControlName="toDate">


          </td>

        </tr>
      </table>
    </form>
    <div class="btnAll">
      <button class="btnSearch" (click)="onsubmit()"><i class="fa fa-search"></i> Search</button>
      <button class="btnAdd"><i class="fa fa-plus"></i> Add new</button>
      <button class="btnExport">Date export</button>
    </div>

    <!--    <input type="btnSearch" value="Search">-->
    <!--    <input type="btnAdd" value="Add new">-->
    <!--    <input type="btnSubmit" value="Submit">-->
    <!--    <input type="btnDelete" value="Delete">-->
    <!--    <input type="btnExport" value="Date export">-->
  </div>
  <div class="mrManagerBot">
    <table class="tableMrManagerBot">
      <tr>
        <th>Id Requiet</th>
        <th>Position</th>
        <th>Requieter</th>
        <th>Quatity</th>
        <th>Experince</th>
        <th>From Date</th>
        <th>To Date</th>
        <th></th>
      </tr>

      <ng-container *ngFor="let v of viewMRManages">
        <tr>
          <td>{{v.idRequiet}}</td>
          <td>{{v.position}}</td>
          <td>{{v.requieter}}</td>
          <td>{{v.quatity}}</td>
          <td>{{v.experince}}</td>
          <td>{{v.fromDate}}</td>
          <td>{{v.toDate}}</td>
          <td>
            <button class="btnEdit"><i class="fa fa-edit"></i></button>
            <button class="btnDelete"><i class="fa fa-close"></i></button>
          </td>
        </tr>
      </ng-container>
    </table>


  </div>

</div>
