<div class="review-applicant">
  <h2>Review applicant</h2>
  <div class="container">
    <form action="">
      <label class="applicantNumber">Applicant number</label>
      <input type="text" id="applicantNumber" name="applicantNumber">

      <label for="titleVcancy">Title Vacancy</label>
      <input type="text" id="titleVcancy" name="titleVacancy">

      <label for="suitableLocation">Suitable Location</label>
      <input type="text" id="suitableLocation" name="suitableLocation">

      <label for="danhGiaChuyenNganh">Đánh giá chuyên ngành </label>
      <input type="text" id="danhGiaChuyenNganh" name="danhGiaChuyenNganh">

      <label for="danhGiaUngXu">Đánh giá ứng xử</label>
      <input type="text" id="danhGiaUngXu" name="danhGiaUngXu">

      <label for="experience">Experience:</label> <select id="experience" name="experience:">
      <option value="fresher">Fresher</option>
      <option value="internship">Internship</option>
      <option value="senior">Senior</option> </select>

      <label for="trinhDoNgonNgu">Trình độ ngôn ngữ </label>
      <input type="text" id="trinhDoNgonNgu" name="trinhDoNgonNgu">

      <label for="kiNangXuLy">Kĩ năng xử lý tình huống </label>
      <input type="text" id="kiNangXuLy" name="kiNangXuLy">


      <label for="result">Result</label> <select id="result" name="result">
      <option value="pass">Pass</option>
      <option value="fail">Fail</option>
      <option value="consider">Consider</option></select>
      <br>

      <label >Ghi chú </label>
      <textarea placeholder="Remember, be nice!" cols="30" rows="5"></textarea>

      <input type="submit" value="Save">
    </form>
  </div>


</div>
