<div class="container">
  <h2>{{'reviewApplicant' | translate}}</h2>
  <form [formGroup]="myForm">
    <table class="tableReviewApplicant">
      <tr>
        <td>

          <div class="form-group">
            <label>{{'applicantNumber' | translate}}</label>
            <input type="number" class="form-control" formControlName="applicantNumber" required>
            <div class="form-control-feedback"
                 *ngIf="applicantNumber.errors && (applicantNumber.dirty || applicantNumber.touched)">
              <p class="error" *ngIf="applicantNumber.errors.required" class="error">Applicant Number is required</p>
            </div>
          </div>

          <div class="form-group">
            <label>{{'position' | translate}}</label>
            <input type="text" class="form-control" formControlName="position" required>
            <div class="form-control-feedback"
                 *ngIf="position.errors && (position.dirty || position.touched)">
              <p class="error" *ngIf="position.errors.required" class="error">Position is required</p>
            </div>
          </div>

          <div class="form-group">
            <label>{{'positionRecommend' | translate}}</label>
            <input type="text" class="form-control" formControlName="positionRecommend" required>
            <div class="form-control-feedback"
                 *ngIf="positionRecommend.errors && (positionRecommend.dirty || positionRecommend.touched)">
              <p class="error" *ngIf="positionRecommend.errors.required" class="error">Position Recommend is
                required</p>
            </div>
          </div>

          <div class="form-group">
            <label>{{'technicalReview' | translate}}</label>
            <input type="text" class="form-control" formControlName="technicalReview" required>
            <div class="form-control-feedback"
                 *ngIf="technicalReview.errors && (technicalReview.dirty || technicalReview.touched)">
              <p class="error" *ngIf="technicalReview.errors.required" class="error">Technical Review is required</p>
            </div>
          </div>
        </td>
        <td>

          <div class="form-group">
            <label>{{'behaviorReview' | translate}}</label>
            <input type="text" class="form-control" formControlName="behaviorReview" required>
            <div class="form-control-feedback"
                 *ngIf="behaviorReview.errors && (behaviorReview.dirty || behaviorReview.touched)">
              <p class="error" *ngIf="behaviorReview.errors.required" class="error">Behavior Review is required</p>
            </div>
          </div>


          <div class="form-group">
            <label>{{'languageReview' | translate}}</label>
            <input type="text" class="form-control" formControlName="languageReview" required>
            <div class="form-control-feedback"
                 *ngIf="languageReview.errors && (languageReview.dirty || languageReview.touched)">
              <p class="error" *ngIf="languageReview.errors.required" class="error">Language Review is required</p>
            </div>
          </div>


          <div class="form-group">
            <label>{{'result' | translate}}</label> <select class="form-control" formControlName="result" required>
            <option *ngFor="let result of results" [value]="result">{{result}}</option>
          </select>
            <div class="invalid-feedback"
                 *ngIf="result.errors && (result.dirty || result.touched)">
              <p class="error" *ngIf="result.errors.required">Result is required</p>
            </div>
          </div>
        </td>
      </tr>
    </table>

      <table class="tableNote">
        <tr>
          <td>
            <div class="form-group"
                 [ngClass]="note.invalid && (note.dirty || note.touched) ? 'has-danger' : 'has-success' ">
              <label>{{'note' | translate}}</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        formControlName="note" required></textarea>
              <div class=" form-control-feedback control-label"
                   *ngIf="note.errors && (note.dirty || note.touched)">
                <p class="error" *ngIf="note.errors.required">Note is required</p>
              </div>
            </div>
          </td>
        </tr>
      </table>
<!--    </table>-->

    <button class="btnSave" (click)="onsubmit()" routerLink="/interviewer/view-review-applicant"
            routerLinkActive="active"><i class="fa fa-save"></i> {{'save' | translate}}
    </button>

  </form>
</div>


